.gradient-background{
	-fx-background-color: linear-gradient(from 25% 25% to 100% 100%,#2113b4,#4b50ec);
	
}
.line-color{
	-fx-background-color:#ffffff;
}
.container{
	-fx-background-color:rgba(255,255,255,0.3);
	-fx-background-radius:10;
}
.container2
{
	-fx-background-color:rgba(227,227,224);
	-fx-background-radius:10;
}
.shadow
{
	-fx-effect:dropShadow(three-pass-box,rgba(0,0,0,0.3),10.0 ,0.3,0.0 ,10.0);
}
.dahbord{
	-fx-background-color:rgba(255,255,255,0.25);
}
.buttonDashbord:hover{
	-fx-background-color:rgba(255,255,255,0.15);
}
.axis
{
	-fx-tick-label-fill:#ffffff;
}
.chart-series-line
{
	-fx-stroke-width:1px;
}
.default-color0.chart-line-symbol
{
	-fx-background-color: #3775a1 , #ffffff ;
}


